<div ng-repeat="row in classes" class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col" ng-repeat="class in row">
    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h5>
          Clase:<br>
          {{ class.date }}<br>
        </h5>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect course-class" ui-sref="classes({ id: class.id })">
          Ver lista
        </a>
      </div>
    </div>
  </div>
</div>
